
.tabela {
	font-family: Verdana;
	font-size: 12px;
}

.cabecalho {
	color: aqua;
	background-color: black;
}

.linhaPar {
	background-color: #c9c9c9;
}

.linhaImpar {
	background-color: white;
}
