<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost;trustServerCertificate=true;database=db202312190523;user=sa;password=senhasa;</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">senhasa</property>

		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>		
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<mapping class="com.algaworks.cursojsf2.financeiro.model.Pessoa"/>
		<mapping class="com.algaworks.cursojsf2.financeiro.model.Lancamento"/>
	</session-factory>
</hibernate-configuration>